* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

#html {
    word-break: break-all;
    padding: 10px;
}

#divWrapper {
    position: fixed;
    left: 50%;
    top: 20px;

}

#div {
    position: absolute;
}

#div::before,
#div::after {
    content: '';
    display: block;
    position: absolute;
}

@media(max-width: 500px) {
    #html {
        height: 70vh;
        overflow: auto;
    }

    #divWrapper {
        height: 30vh;
        position: relative;
        left: 0;
        bottom: 0;
        background-color: rgb(249, 249, 249);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

    #div {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}